# Python cache
__pycache__/
**/__pycache__/

# Output folder
Output/
**/Output/

# Artifacts folder
artifacts/
**/artifacts/

# Dataset
Data/
**/Data/

# Spark history server
spark-warehouse/
**/spark-warehouse/

# Spark logs
logs/
**/logs/

# Spark metastore