# ===============================
# Python cache
# ===============================
__pycache__/
**/__pycache__/

# ===============================
# Output folder
# ===============================
Output/
**/Output/

# ===============================
# Artifacts folder
# ===============================
artifacts/
**/artifacts/

# ===============================
# Dataset
# ===============================
Data/
**/Data/

# ===============================
# Spark history server
# ===============================
spark-warehouse/
**/spark-warehouse/

# ===============================
# Spark logs
# ===============================
logs/
**/logs/

# ===============================
# Custom project folders (DO NOT PUSH)
# ===============================
ps_checker/
**/ps_checker/

pipeline_setup/
**/pipeline_setup/

Grafana/
**/Grafana/

Real_Time_Pipeline/
**/Real_Time_Pipeline/